{% extends 'base.html' %}

{% block inicio %}

{# Para ocultar el carousel  #}
{% block carousel %}      
{% endblock %}

{# Para ocultar el navbar  #}
{% block navbar %}      
{% endblock %}

{% block jumbotron %}      
{% endblock %}



<h1>Eliminar Pedido</h1>

<form method="post">
	{% csrf_token %}
	<h3>Desea eliminar el pedido de {{ object.cliente }} con fecha:  {{ object.fecha }} ?</h3>
	<button type="submit" class="btn btn-danger">Si, eliminar</button>
	<a class="btn btn-default" href="{% url 'pedidos:modificar_pedido' object.id %}">Cancelar</a>
</form>

{% endblock %}