{% load static  %}

<!doctype html>
<html lang="es">
  <head>
    <title>Entregas</title>
    <h1>Entregas Realizadas</h1>
    <meta charset="UTF-8">
    <style type="text/css">
    #mapa { width:90%;height:900px; }
    </style>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">



    
    function initialize() {
      var marcadores = [
        {% for infocliente in object_list %}
          ['{{infocliente.cliente.direccion }}', {{infocliente.cliente.latitud}}, {{infocliente.cliente.longitud }}],
        {% endfor %}
      ];

      var map = new google.maps.Map(document.getElementById('mapa'), {
        zoom: 8,
        center: new google.maps.LatLng(15.7749815,-91.3552932),
        mapTypeId: google.maps.MapTypeId.ROADMAP
        // mapTypeId: google.maps.MapTypeId.HYBRID
        // mapTypeId: google.maps.MapTypeId.SATELLITE 
        // mapTypeId: google.maps.MapTypeId.TERRAIN
                
      });


      var infowindow = new google.maps.InfoWindow();
      
      var marker, i;

      for (i = 0; i < marcadores.length; i++) {  
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(marcadores[i][1], marcadores[i][2]),
          map: map,
          
          animation:google.maps.Animation.BOUNCE,
          // animation:google.maps.Animation.DROP,
          icon: "{% static 'emoji.png' %}"
        });

        marker.setMap(map);

        google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
          return function() {
            infowindow.setContent(marcadores[i][0]);
            infowindow.open(map, marker);
          }
        })(marker, i));
      }
    }




    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
  

    <div id="mapa"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvSKH3siD9t7k3TbAqnETfgFu_0ojTvUQ&callback=myMap"></script>

  </body>
</html>